@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Light.ttf');
	font-weight: 100;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Light.ttf');
	font-weight: 100;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Bold.ttf');
	font-weight: bold;
}

body {
	font-family: 'Lato', sans-serif;
}
#main {
	position: relative;
	display: block;
	width: 100vw;
	height: 100vh;
	background-image: url('../img/main-img.png');
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	height: 65px;
	display: block;
	background-color: #10163657;
	padding: 0px 100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	padding-top: 20px;
}

.logo > a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

.logo > a > span {
	color: #4c76ff;
}

.logo > p {
	font-weight: 100;
	font-size: 14px;
	font-style: italic;
	color: #ffffff5e;
	margin: 0;
	display: inline;
	margin-left: 50px;
}

.logo > p > span {
	font-style: normal;
	color: #4c76ff;
	margin-left: 20px;
	margin-right: 20px;
}

.menu {
	font-size: 12px;
	font-weight: 100;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu > li {
	display: inline-block;
	color: white;
	margin-right: 30px;
	height: 65px;
	line-height: 65px;
}

.menu > li:last-child {
	margin-right: 0;
}

.menu > li > a {
	text-decoration: none;
	color: white;
	font-size: 12px;
}

.current {
	border-top: 1px solid #4c76ff;
}

.main-title {
	height: 176px;
	margin-top: calc(50vh - 65px - 88px);
}

.main-title > h1 {
	color: white;
	margin: 0;
	font-size: 62px;
	text-align: center;
}

.main-title > h1 > span, 
.main-title > h2 > span {
	color: #4c76ff;
}

.main-title > h2 {
	opacity: 0.9;
	margin: 0;
	color: white;
	font-size: 48px;
	font-weight: 100;
	text-align: center;
}

.main-title > p {
	margin: 0;
	color: white;
	text-align: center;
	font-size: 18px;
	font-weight: 100;
	margin-top: 30px;
}

.main-title > p::before,
.main-title > p::after {
	content: '';
	display: inline-block;
	width: 30px;
	border-top: 1px solid #4c76ff;
	vertical-align: middle;
}

.main-title > p::before {
	margin-right: 50px;
}

.main-title > p::after {
	margin-left: 50px;
}

.social {
	margin: 0;
	padding: 0;
	list-style: none;
	color: white;
	margin-top: 100px;
	text-align: center;
}

.social > li {
	display: inline-block;
	margin-right: 10px;
	opacity: .3;
}

.social > li:hover {
	opacity: 1;
}

.social > li:last-child {
	margin-right: 0;
}

.social > li > img {
	height: 15px;
}

#features,
#works,
#team,
#form {
	background-color: #efefef;
	padding-top: 75px;
	text-align: center;
	padding: 75px 100px 110px 100px;
}

#features > h1,
#works > h1,
#team > h1,
#form > h1 {
	margin: 0;
	color: #4c76ff;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#features > span::before,
#works > span::before,
#team > span::before,
#facts > span::before,
#form > span::before {
	content: '';
	display: inline-block;
	width: 90px;
	border-top: 1px solid #d7dadc;
	margin-right: 10px;
	vertical-align: middle;
}

#features > span::after,
#works > span::after,
#team > span::after,
#facts > span::after,
#form > span::after {
	content: '';
	display: inline-block;
	width: 90px;
	border-top: 1px solid #d7dadc;
	margin-left: 10px;
	vertical-align: middle;
}

.steps {
	margin-top: 70px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.step {
	font-family: 'OpenSans', sans-serif;
	text-align: left;
	width: 30%;
}

.step > span {
	display: inline-block;
	width: 30px;
	height: 30px;
	border:1px solid #4c76ff;
	border-radius: 50%;
	text-align: center;
	vertical-align: top;
	margin-right: 10px;
}

.step > span > img {
	border-style: none;
	vertical-align: -webkit-baseline-middle;
}

.step-text {
	display: inline-block;
	width: calc(100% - 50px);
	color: #062033;
}

.step-text > h1 {
	margin: 0 0 15px 0;
	font-size: 16px;
}

.step-text > p {
	margin: 0;
	padding: 0;
	font-size: 11px;
	opacity: .7;
	text-align: justify;
}

#phone {
	padding: 85px 100px 100px;
	font-family: 'OpenSans', sans-serif;
}

#phone > p {
	font-size: 15px;
	padding: 0;
	margin: 0 0 65px 0;
	text-align: center;
}

.phone-blocks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.phone-block {
	margin-top: 60px;
}

.phone-block > div {
	margin-bottom: 80px;
	padding: 10px;
}

.phone-block > div:hover {
	background-color: #fefce9;
}

.phone-block > div:last-child {
	margin-bottom: 0;
}

.phone-block > div > img {
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-right: 35px;
	vertical-align: top;
}

.phone-block > div > div {
	display: inline-block;
	width: calc(100% - 75px);
	color: #282528;
}

.phone-block > div > div > h1 {
	margin: 0 0 10px 0;
	font-size: 13px;
}

.phone-block > div > div > p {
	margin: 0;
	padding: 0;
	font-size: 11px;
	opacity: 0.7;
	line-height: 16px;
}

#works {
	background-color: #fff;
}

#works > p,
#team > p {
	margin: 40px 0 60px 0;
	padding: 0 100px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	opacity: 0.8;
	color: #062033;
}

.works > ul {
	padding: 0;
	margin: 0 0 75px 0;
	list-style: none;
}

#works > ul > li {
	display: inline-block;
	color: #062033;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 9px 18px;
	border-radius: 5px;
	margin-right: 15px;
	cursor: pointer;
}

#works > ul > li:last-child {
	margin-right: 0;
}

#works > ul > li:hover,
#works > ul > li.active {
	background-color: #4c76ff;
}

.work-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	margin-left: -100px;
}

.work-items > div {
	position: relative;
	width: 25%;
}

.work-items > div > img {
	width: 100%;
	height: 100%;
}

.work-items > div > div {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	background-color: #4c76ff;
}

.work-items > div > div > img {
	width: 35px;
	margin-top: 50px;
}

.work-items > div:hover > div {
	display: block;
}

.work-items > div > div > h1 {
	margin: 20px 0 10px 0;
	font-size: 13px;
}

.work-items > div > div > p {
	font-size: 10px;
	margin: 0;
}

#team {
	background-color: white;
}

.team-members {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'OpenSans', sans-serif;
}

.team-member {
	width: 24%;
}

.team-member > h1 {
	margin: 15px 0;
	font-size: 15px;
	color: #062033;
}

.team-member > h2 {
	margin: 0;
	font-size: 11px;
	font-weight: normal;
	color: #062033;
	opacity: 0.5;
}

.team-member > div {
	position: relative;
}

.team-member > div > img {
	width: 100%;
}

.team-member > div > div {
	display: block;
	opacity: 0;
	transition: opacity .5s;
}

.team-member > div:hover > div {
	opacity: 1;
}
.team-member:hover > h1 {
	color: #1cb899;
}

.team-member > div > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(76, 110, 255, .9);
	color: white;
	padding: 0 10px;
}

.team-member > div > div > h1 {
	margin: 20px 0 10px 0;
	font-size: 13px;
}

.team-member > div > div > p {
	margin: 0;
	font-size: 13px;
	margin: 0 0 90px 0;
	font-weight: 100;
}

.team-member > div > div > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.team-member > div > div > ul > li {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: rgba(0, 0, 0, .3);
	vertical-align: top;
}

.team-member > div > div > ul > li > a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px 0;
}

#facts {
	position: relative;
	background: url('../img/background-city.png') no-repeat;
	background-size: cover;
	padding: 75px 0 120px 0;
}

#facts > h1 {
	position: relative;
	font-size: 21px;
	color: #4c76ff;
	margin: 0 0 15px 0;
	text-transform: uppercase;
	text-align: center;
}

#facts > span {
	position: relative;
	display: block;
	text-align: center;
}

#facts > span::before,
#facts > span:after {
	width: 60px;
}

.overlay {
	position: absolute;
	background-color: #122537;
	opacity: 0.8;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0
}

.numbers {
	position: relative;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 150px;
	margin-top: 20px;
}

.numbers > div > span {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 50%;
}

.numbers > div {
	text-align: center;
}

.numbers > div > span > img {
	position: absolute;
	top: 50%;
	left: 50%;
	/*width: 50px;
	height: 50px;*/
	transform: translate(-50%, -50%);
}

.numbers > div > h1 {
	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	position: relative;
	margin: 35px 0 15px 0;
	font-size: 45px;
}

.numbers > div > h2 {
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}

#form {
	background-color: white;
	color: #062033;
}

#form > p {
	padding: 0;
	text-align: center;
	margin: 60px 0 70px 0;
	opacity: .8;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}

.send {
	display: flex;
	justify-content: space-between;
	text-align: left;
}

.address-form {
	width: 20%;
	font-family: 'OpenSans', sans-serif;
	text-align: left;
}

.address-form > h1 {
	margin: 0 0 30px 0;
	font-size: 18px;
	font-weight: normal;
}

.address-form > ul {
	margin: 0;
	padding: 0;
	list-style: none;

}

.address-form > ul > li {
	font-size: 11px;
	color: #6a737b;
	margin-bottom: 10px;
}

.address-form > ul > li:last-child {
	margin-bottom: 0;
}

.input-form {
	width: 60%;
	text-align: left;
}

.input-form > h1 {
	margin: 0 0 35px;
	font-size: 20px;
}

::-webkit-input-placeholder {
	font-family: 'OpenSans', sans-serif;
	color: rgba(91, 100, 110, .5);
}

.input-form > form > input:focus,
.input-form > form > textarea:focus {
	outline: none;
}

.input-form > form > input[type=text] {
	display: inline-block;
	width: 45%;
	padding: 0;
	font-size: 11px;
	border: none;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	vertical-align: top;
}

.input-form > form > input[type=text] + input[type=text] {
	float: right;
}

.input-form > form > textarea {
	width: 100%;
	display: block;
	font-size: 11px;
	border: none;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	vertical-align: top;
	resize: none;
	margin-top: 35px;
	margin-bottom: 30px;
}

.input-form > form > div {
	text-align: right;
}

.input-form > form > div > input[type=submit] {
	font-size: 13px;
	color: black;
	border: none;
	background: none;
	padding: 0;
	margin-left: 15px;
	vertical-align: top;
}

.input-form > form > div > img {
	display: inline-block;
	width: 20px;
	height: 14px;
}

.social-form {
	width: 10%;
	padding-top: 10px;
}

.social-form > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.social-form > ul > li {
	margin-bottom: 20px;
	opacity: .5;
}

.social-form > ul > li:hover {
	opacity: 1;
}

.social-form > ul > li:last-child {
	margin-bottom: 0;
}

footer {
	padding: 50px 150px;
	background-color: #010305;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.description,
.subscribe,
.links {
	width: 25%;
}

.description {
	font-family: 'Lato', sans-serif;
}

.description > h1 {
	margin: 0 0 25px;
	font-size: 26px;
}

.description > h1 > span {
	color: #4c76ff;
}

.description > p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 25px;
	text-align: justify;
}

.subscribe > h1,
.links > h1 {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	margin: 0 0 30px;
}

.subscribe > form {
	border: 2px solid white;
	border-radius: 2px;
	width: 90%;
	height: 40px;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.subscribe > form > input[type=text] {
	width: 80%;
	background-color: black;
	border: none;
	color: white;
	padding: 0 5px;
	line-height: 40px;
}

.subscribe > form > input[type=submit] {
	width: 20%;
	background: url(../img/arrow.png) no-repeat center;
	border: none;
}

.subscribe > form > input:focus {
	outline: none;
}

.subscribe > p {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-family: 'OpenSans', sans-serif;
	line-height: 20px;
}

.links > div {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}

.links > div > a {
	color: white;
	text-decoration: none;
	width: 50%;
	font-family: 'OpenSans', sans-serif;
	font-size: 11px;
	margin-bottom: 15px;
	/*line-height: 30px;*/
}

.burger-menu {
	display: none;
}

.to-top {
	position: fixed;
	right: 50px;
	bottom: 50px;
	color: white;
	padding: 5px 10px;
	z-index: 4;
	cursor: pointer;
	background-color: #000;
	opacity: 0 .3s ease-out;
	text-decoration: none;
}

.to-top .show {
	opacity: 1;
}